
/* */
.custom-navbar {
    background: linear-gradient(0deg, #fff, #ebebeb);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }
  
  .custom-navbar .navbar-brand {
    color: #bf1e23;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .custom-navbar .navbar-toggler {
    border: 2px solid #991023;
  }
  .custom-navbar .navbar-toggler-icon {
    filter: invert(50%);
  }
  
  /*main nav link */
  .custom-navbar .navbar-nav .nav-link {
    color: #bf1e23;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 0 5px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  /* hovermain nav links */
  .custom-navbar .navbar-nav .nav-link:hover,
  .custom-navbar .navbar-nav .nav-link:focus {
    background-color: #d32a40; /* on hover */
    color: #fff;
    border-color: #991023;
  }
  
  /* drpdown menu */
  .custom-navbar .dropdown-menu {
    background-color: #fff;
    border: 2px solid #991023;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  /* drpdwn items */
  .custom-navbar .dropdown-menu .dropdown-item {
    color: #bf1e23;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* hover for dropdown  */
  .custom-navbar .dropdown-menu .dropdown-item:hover,
  .custom-navbar .dropdown-menu .dropdown-item:focus {
    background-color: #d32a40; 
    color: #fff;
  }
  
  
   